<%-include('../../partials/header.ejs')-%>
    <%-include('../../partials/navbar.ejs')-%>
        <div class="container">
            <hr>
            <div class="card">
                <div class="card-title">
                    <h2>Edição de Artigos</h2>
                </div>
                <div class="card-body">
                    <hr>
                    <form method="POST" action="/articles/update">


                    </form>

                </div>
            </div>
        </div>
        <%-include('../../partials/footer.ejs')-%>